html {
  background-image: url(../images/nightclub.jpg);
  background-repeat: no-repeat;
  height: 100%;
  width:100%;
  background-size: cover;
  background-position: center;
 
}

body {
	background:transparent;
	margin-left:30px;
	margin-right:30px;
}

.block {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;

}

.block {
	float:left;
	width:50%;
	box-sizing:border-box;
	margin:auto;
	font-family: helvetica;
	font-size:16px;
	padding:20px;
	font-weight:normal;
	font-style:bold;
	text-align:center;
	color:black;
	margin-top:100px;


}
 h1 {
	font-size:24px;

}
.clr{
 	clear:both;
}
.my-form {
	display:block;
	margin-bottom:5px;
	padding:5px;
	border:black;
	border-width:1px;
}


.button:hover {
	background-color:gray;
	color:white;
}
.button {
	border-radius:8px;
	border-color:black;
	color:4d4d4d;
	border-width:1px;
	font-family: helvetica;
}
.footer {
	text-align:center;
	font-style:italic;
	font-size:16px;
	color: white;
	
}

.block img {
	height:60px;
	width:60px;
	margin:20px 20px;
}
.block img:hover {
	opacity: 0.7;
}
@media (max-width:600px){
	.block {
		width:100%;
		float:none;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 50px;
		padding-right: 50px;
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 20px;
	}
	html {
		background-image: url(../images/nightclub.jpg);
  		background-repeat: repeat-y;
  		height: 100%;
  		width:100%;
  		background-size: cover;
  		background-position: center;
	}

}
