nav {
  padding-bottom: 20px;
}
body {
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/1JMLWSY55C.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}
h1 {
  color: black;
  border:
  border-radius:
  font-size: 30px;
  font-family: helvetica;
  text-align: left;
}
h2 {
  font-family: helvetica;
  font-size: 18px;
  text-align: left;
}
h3 {
  font-family: helvetica;
  font-size: 18px;
  text-align: left;
  text-emphasis: bold;
}
p {
  color: white;
  font-family: helvetica;
  text-align: left;
  font-size: 15px;
}
main {
  padding-top: 50px;
}
/* ol { */
  font-family: helvetica;
  list-style: none;
  padding: 0;
}
/* ul { */
  font-family: helvetica;
  padding-left: 0;
  margin-bottom: 10%;
}
/* image { */
  vertical-align: middle;
  display: flex;
  margin: 0 auto;
  border-radius: 130px;
  padding: 20px;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
}
input[type=text] {
  height: 150px;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
}
.btn-d8 {
  padding: 10px;
  padding-bottom: 2px;
  background-color: pink;
  margin: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-top: 11px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  user-select: none;
  border: 0px;
  font-size: 45px;
  font-weight: normal;
  font-family: helvetica,
  outline: 0px;
  text-align: center;
  }
.btn-submit {
  text-align: center;
  font-family: helvetica;
  color: white;
  background-color: pink;
  }
.test {
  color: #FFA500;
}
.padding {
  padding-right: 50%;
  padding-left: 10%;
}
.nice-link:hover {
  color: pink;
  transition
}
.bg {
  background-image: url(/Users/lydiamaude/Coding course/our-site/images/neon-heart.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
}
