nav {
  padding-bottom: 20px;
}
html {
  background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/1JMLWSY55C.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: center;
}
main {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right; 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
body {
  background: transparent;
  padding-top: 25%;
  text-align: center;
  border-radius: 30px;
}
h1 {
  color: black;
  border:
  border-radius:
  font-size: 30px;
  font-family: helvetica;
  text-align: center;
}
h2 {
  font-family: helvetica;
  font-size: 18px;
  text-align: center;
  color:black;
}
h3 {
  font-family: helvetica;
  font-size: 18px;
  text-align: center;
  text-emphasis: bold;
}
p {
  color: black;
  font-family: helvetica;
  text-align: center;
  font-size: 15px;
}
.starter-template {
  border-radius: 20px;
}
.padding {
  padding-right: 50%;
  padding-left: 10%;
}
.nice-link:hover {
  color: pink;
  transition
}

/*about-us formatting*/

.footer {
  text-align:center;
  font-style:italic;
  font-size:14px;
  color:white; 
}
.about-template h2{
  font-family: helvetica;
  font-size: 24px;
  text-align: center;
  color: black;
  font-style: bold;
}
.paragraph p{
  color: black;
  font-family: helvetica;
  text-align: center;
  font-size: 20px;
}